.banner {
  padding: 150px 0;
  background-size: 150%;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../images/dndbanner.jpg');
}

.banner h1 {
  color: white;
  font-size: 40px;
  text-shadow: 0px -2px 0px rgba(0, 0, 0, .75);
}

.banner p {
  color: white;
  font-size: 24px;
  font-weight: lighter;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  margin-bottom: 40px;
}
