.container {
  /* TODO */
  width: 800px;
  margin: 0 auto;
}

@media(max-width: 1200px) {
  .container {
    width: 800px;
  }
}

@media(max-width: 800px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 600px) {
  .container {
    width: 500px;
  }
}
